In [41]:
import random

def generate_unique_name(indian_names, indian_surnames, full_names):
    while True:
        first = random.choice(indian_names)
        last = random.choice(indian_surnames)
        full_name = f"{first} {last}"

        if full_name not in full_names:
            full_names.add(full_name)   # assuming set
            return full_name

def generate_indian_mobile(mobile_numbers):
    while True:
        # Indian mobiles start with 6, 7, 8, or 9
        first_digit = random.choice(['6', '7', '8', '9'])
        remaining_digits = ''.join([str(random.randint(0, 9)) for _ in range(9)])
        mobile_no = f"{first_digit}{remaining_digits}"

        if mobile_no not in mobile_numbers:
            mobile_numbers.add(mobile_no)
            return mobile_no

In [ ]:
import random

# Top 20 Indian Names (10 Male, 10 Female)
indian_names = [
    "Aarav", "Vihaan", "Reyansh", "Advik", "Kiaan", 
    "Shaurya", "Ishaan", "Arjun", "Riaan", "Ayaan", 
    "Saanvi", "Aadhya", "Anaya", "Kiara", "Myra", 
    "Navya", "Inaaya", "Shanaya", "Vamika", "Diya"
]


# Top 20 Indian Surnames
indian_surnames = [
    "Singh", "Kumar", "Sharma", "Patel", "Gupta", 
    "Agarwal", "Yadav", "Verma", "Khan", "Mishra", 
    "Shah", "Reddy", "Jain", "Nair", "Das", 
    "Chaudhary", "Patil", "Mehta", "Rao", "Iyer"
]

iitgn_programmes = ["B.Tech.", "M.Tech.", "B.Tech.-M.Tech. Dual Degree", "PhD"]

iitgn_btech_branches = [
    "Electrical Engineering",
    "Computer Science and Engineering",
    "Mechanical Engineering",
    "Artificial Intelligence",
    "Chemical Engineering",
    "Civil Engineering",
    "Integrated Circuit Design & Technology",
    "Materials Engineering"
]

iitgn_mtech_branches = [
    "Artificial Intelligence",
    "Biological Engineering",
    "Chemical Engineering",
    "Civil Engineering",
    "Computer Science and Engineering",
    "Earth System Science",
    "Electrical Engineering",
    "Integrated Circuit Design and Technology",
    "Materials Engineering",
    "Mechanical Engineering"
]

iitgn_phd_branches = [
    "Biological Engineering", 
    "Chemical Engineering", 
    "Chemistry", 
    "Civil Engineering", 
    "Cognitive Science", 
    "Computer Science and Engineering", 
    "Artificial Intelligence", 
    "Earth Sciences", 
    "Archaeological Sciences", 
    "Electrical Engineering", 
    "Integrated Circuit Design and Technology", 
    "Humanities & Social Sciences", 
    "Materials Engineering", 
    "Mathematics", 
    "Mechanical Engineering", 
    "Design", 
    "Physics"
]

generated_members = []

# Generate random start
start_id = random.randint(10000000, 99999999)

full_names = set()
mobile_nos = set()

# Member Table
for i in range(30):
    # Randomly pick a name and a surname
    full_name = generate_unique_name(indian_names, indian_surnames, full_names)
    
    # Auto-increment MemberID
    member_id = start_id + i

    url = f"https://robohash.org/{member_id}.png?set=set4"

    first_name = full_name.split(" ")[0]
    
    gender = "M" if first_name in indian_names[:10] else "F"
    
    email_id = (".".join(full_name.split(" ")) + "@iitgn.ac.in").lower()

    programme = random.choice(iitgn_programmes)

        
    if programme == iitgn_programmes[1]:
        branch = random.choice(iitgn_mtech_branches)
        age = random.randint(22,27)
    elif programme == iitgn_programmes[3]:
        branch = random.choice(iitgn_phd_branches)
        age = random.randint(23, 35)
    else:
        branch = random.choice(iitgn_btech_branches)
        age = random.randint(18,23)

    batch_year = random.randint(2026,2031)
    
    ContactNumber = generate_indian_mobile(mobile_nos)
    

    generated_members.append({
        "MemberID": member_id,
        "FullName": full_name,
        "ProfileImageURL": url,
        "Programme": programme,
        "Branch": branch,
        "BatchYear": batch_year,
        "Email": email_id,
        "ContactNumber": ContactNumber,
        "Age": age,
        "Gender": gender
    })

# Preview the first 5
for member in generated_members[:5]:
    print(member)

{'MemberID': 28498438, 'FullName': 'Myra Khan', 'ProfileImageURL': 'https://robohash.org/28498438.png?set=set4', 'Programme': 'M.Tech.', 'Branch': 'Computer Science and Engineering', 'BatchYear': 2029, 'Email': 'myra.khan@iitgn.ac.in', 'ContactNumber': '6371872528', 'Age': 22, 'Gender': 'F'}
{'MemberID': 28498439, 'FullName': 'Anaya Mehta', 'ProfileImageURL': 'https://robohash.org/28498439.png?set=set4', 'Programme': 'M.Tech.', 'Branch': 'Integrated Circuit Design and Technology', 'BatchYear': 2029, 'Email': 'anaya.mehta@iitgn.ac.in', 'ContactNumber': '6157043256', 'Age': 24, 'Gender': 'F'}
{'MemberID': 28498440, 'FullName': 'Ayaan Nair', 'ProfileImageURL': 'https://robohash.org/28498440.png?set=set4', 'Programme': 'PhD', 'Branch': 'Artificial Intelligence', 'BatchYear': 2026, 'Email': 'ayaan.nair@iitgn.ac.in', 'ContactNumber': '9965758745', 'Age': 29, 'Gender': 'M'}
{'MemberID': 28498441, 'FullName': 'Kiara Singh', 'ProfileImageURL': 'https://robohash.org/28498441.png?set=set4', 'Programme': 'B.Tech.-M.Tech. Dual Degree', 'Branch': 'Artificial Intelligence', 'BatchYear': 2028, 'Email': 'kiara.singh@iitgn.ac.in', 'ContactNumber': '9146086242', 'Age': 22, 'Gender': 'F'}
{'MemberID': 28498442, 'FullName': 'Arjun Mishra', 'ProfileImageURL': 'https://robohash.org/28498442.png?set=set4', 'Programme': 'B.Tech.', 'Branch': 'Computer Science and Engineering', 'BatchYear': 2029, 'Email': 'arjun.mishra@iitgn.ac.in', 'ContactNumber': '9036360323', 'Age': 23, 'Gender': 'M'}

In [64]:
import json

# Sample JSON-like data (list of dicts)

def json_to_sql(table_name, json_data):
    statements = []
    for entry in json_data:
        columns = ", ".join(entry.keys())
        
        # Format values: Add quotes to strings, handle None as NULL
        values = []
        for v in entry.values():
            if v is None:
                values.append("NULL")
            elif isinstance(v, str):
                # .replace("'", "''") escapes single quotes for SQL safety
                values.append(f"'{v.replace("'", "''")}'")
            else:
                values.append(str(v))
        
        value_str = ", ".join(values)
        statements.append(f"INSERT INTO {table_name} ({columns}) VALUES ({value_str});")
    
    return statements

# Usage
sql_queries = json_to_sql("Members", generated_members)
for query in sql_queries:
    print(query)

INSERT INTO Members (MemberID, FullName, ProfileImageURL, Programme, Branch, BatchYear, Email, ContactNumber, Age, Gender) VALUES (28498438, 'Myra Khan', 'https://robohash.org/28498438.png?set=set4', 'M.Tech.', 'Computer Science and Engineering', 2029, 'myra.khan@iitgn.ac.in', '6371872528', 22, 'F');
INSERT INTO Members (MemberID, FullName, ProfileImageURL, Programme, Branch, BatchYear, Email, ContactNumber, Age, Gender) VALUES (28498439, 'Anaya Mehta', 'https://robohash.org/28498439.png?set=set4', 'M.Tech.', 'Integrated Circuit Design and Technology', 2029, 'anaya.mehta@iitgn.ac.in', '6157043256', 24, 'F');
INSERT INTO Members (MemberID, FullName, ProfileImageURL, Programme, Branch, BatchYear, Email, ContactNumber, Age, Gender) VALUES (28498440, 'Ayaan Nair', 'https://robohash.org/28498440.png?set=set4', 'PhD', 'Artificial Intelligence', 2026, 'ayaan.nair@iitgn.ac.in', '9965758745', 29, 'M');
INSERT INTO Members (MemberID, FullName, ProfileImageURL, Programme, Branch, BatchYear, Email, ContactNumber, Age, Gender) VALUES (28498441, 'Kiara Singh', 'https://robohash.org/28498441.png?set=set4', 'B.Tech.-M.Tech. Dual Degree', 'Artificial Intelligence', 2028, 'kiara.singh@iitgn.ac.in', '9146086242', 22, 'F');
INSERT INTO Members (MemberID, FullName, ProfileImageURL, Programme, Branch, BatchYear, Email, ContactNumber, Age, Gender) VALUES (28498442, 'Arjun Mishra', 'https://robohash.org/28498442.png?set=set4', 'B.Tech.', 'Computer Science and Engineering', 2029, 'arjun.mishra@iitgn.ac.in', '9036360323', 23, 'M');
INSERT INTO Members (MemberID, FullName, ProfileImageURL, Programme, Branch, BatchYear, Email, ContactNumber, Age, Gender) VALUES (28498443, 'Aadhya Yadav', 'https://robohash.org/28498443.png?set=set4', 'PhD', 'Physics', 2031, 'aadhya.yadav@iitgn.ac.in', '8957796664', 31, 'F');
INSERT INTO Members (MemberID, FullName, ProfileImageURL, Programme, Branch, BatchYear, Email, ContactNumber, Age, Gender) VALUES (28498444, 'Aadhya Mishra', 'https://robohash.org/28498444.png?set=set4', 'PhD', 'Mechanical Engineering', 2029, 'aadhya.mishra@iitgn.ac.in', '6977276542', 24, 'F');
INSERT INTO Members (MemberID, FullName, ProfileImageURL, Programme, Branch, BatchYear, Email, ContactNumber, Age, Gender) VALUES (28498445, 'Shanaya Khan', 'https://robohash.org/28498445.png?set=set4', 'PhD', 'Design', 2030, 'shanaya.khan@iitgn.ac.in', '7127783953', 30, 'F');
INSERT INTO Members (MemberID, FullName, ProfileImageURL, Programme, Branch, BatchYear, Email, ContactNumber, Age, Gender) VALUES (28498446, 'Ishaan Chaudhary', 'https://robohash.org/28498446.png?set=set4', 'B.Tech.', 'Computer Science and Engineering', 2026, 'ishaan.chaudhary@iitgn.ac.in', '8938941125', 18, 'M');
INSERT INTO Members (MemberID, FullName, ProfileImageURL, Programme, Branch, BatchYear, Email, ContactNumber, Age, Gender) VALUES (28498447, 'Kiaan Khan', 'https://robohash.org/28498447.png?set=set4', 'B.Tech.-M.Tech. Dual Degree', 'Mechanical Engineering', 2026, 'kiaan.khan@iitgn.ac.in', '8955939794', 22, 'M');
INSERT INTO Members (MemberID, FullName, ProfileImageURL, Programme, Branch, BatchYear, Email, ContactNumber, Age, Gender) VALUES (28498448, 'Inaaya Shah', 'https://robohash.org/28498448.png?set=set4', 'B.Tech.', 'Integrated Circuit Design & Technology', 2030, 'inaaya.shah@iitgn.ac.in', '6083558530', 18, 'F');
INSERT INTO Members (MemberID, FullName, ProfileImageURL, Programme, Branch, BatchYear, Email, ContactNumber, Age, Gender) VALUES (28498449, 'Aadhya Sharma', 'https://robohash.org/28498449.png?set=set4', 'PhD', 'Design', 2030, 'aadhya.sharma@iitgn.ac.in', '9167768520', 28, 'F');
INSERT INTO Members (MemberID, FullName, ProfileImageURL, Programme, Branch, BatchYear, Email, ContactNumber, Age, Gender) VALUES (28498450, 'Diya Rao', 'https://robohash.org/28498450.png?set=set4', 'PhD', 'Design', 2030, 'diya.rao@iitgn.ac.in', '7685045165', 26, 'F');
INSERT INTO Members (MemberID, FullName, ProfileImageURL, Programme, Branch, BatchYear, Email, ContactNumber, Age, Gender) VALUES (28498451, 'Diya Iyer', 'https://robohash.org/28498451.png?set=set4', 'PhD', 'Humanities & Social Sciences', 2026, 'diya.iyer@iitgn.ac.in', '7992992383', 35, 'F');
INSERT INTO Members (MemberID, FullName, ProfileImageURL, Programme, Branch, BatchYear, Email, ContactNumber, Age, Gender) VALUES (28498452, 'Ishaan Reddy', 'https://robohash.org/28498452.png?set=set4', 'M.Tech.', 'Computer Science and Engineering', 2029, 'ishaan.reddy@iitgn.ac.in', '7440844189', 23, 'M');
INSERT INTO Members (MemberID, FullName, ProfileImageURL, Programme, Branch, BatchYear, Email, ContactNumber, Age, Gender) VALUES (28498453, 'Diya Sharma', 'https://robohash.org/28498453.png?set=set4', 'PhD', 'Electrical Engineering', 2026, 'diya.sharma@iitgn.ac.in', '6832443945', 24, 'F');
INSERT INTO Members (MemberID, FullName, ProfileImageURL, Programme, Branch, BatchYear, Email, ContactNumber, Age, Gender) VALUES (28498454, 'Aadhya Khan', 'https://robohash.org/28498454.png?set=set4', 'B.Tech.-M.Tech. Dual Degree', 'Computer Science and Engineering', 2028, 'aadhya.khan@iitgn.ac.in', '7467612805', 20, 'F');
INSERT INTO Members (MemberID, FullName, ProfileImageURL, Programme, Branch, BatchYear, Email, ContactNumber, Age, Gender) VALUES (28498455, 'Reyansh Reddy', 'https://robohash.org/28498455.png?set=set4', 'B.Tech.-M.Tech. Dual Degree', 'Integrated Circuit Design & Technology', 2027, 'reyansh.reddy@iitgn.ac.in', '7336558203', 19, 'M');
INSERT INTO Members (MemberID, FullName, ProfileImageURL, Programme, Branch, BatchYear, Email, ContactNumber, Age, Gender) VALUES (28498456, 'Vihaan Kumar', 'https://robohash.org/28498456.png?set=set4', 'PhD', 'Design', 2027, 'vihaan.kumar@iitgn.ac.in', '8456766208', 26, 'M');
INSERT INTO Members (MemberID, FullName, ProfileImageURL, Programme, Branch, BatchYear, Email, ContactNumber, Age, Gender) VALUES (28498457, 'Vihaan Khan', 'https://robohash.org/28498457.png?set=set4', 'B.Tech.-M.Tech. Dual Degree', 'Computer Science and Engineering', 2031, 'vihaan.khan@iitgn.ac.in', '9442511298', 21, 'M');
INSERT INTO Members (MemberID, FullName, ProfileImageURL, Programme, Branch, BatchYear, Email, ContactNumber, Age, Gender) VALUES (28498458, 'Navya Shah', 'https://robohash.org/28498458.png?set=set4', 'M.Tech.', 'Computer Science and Engineering', 2031, 'navya.shah@iitgn.ac.in', '7405900382', 24, 'F');
INSERT INTO Members (MemberID, FullName, ProfileImageURL, Programme, Branch, BatchYear, Email, ContactNumber, Age, Gender) VALUES (28498459, 'Vamika Singh', 'https://robohash.org/28498459.png?set=set4', 'B.Tech.', 'Chemical Engineering', 2031, 'vamika.singh@iitgn.ac.in', '6550707418', 20, 'F');
INSERT INTO Members (MemberID, FullName, ProfileImageURL, Programme, Branch, BatchYear, Email, ContactNumber, Age, Gender) VALUES (28498460, 'Shaurya Patel', 'https://robohash.org/28498460.png?set=set4', 'B.Tech.', 'Computer Science and Engineering', 2026, 'shaurya.patel@iitgn.ac.in', '6532512076', 20, 'M');
INSERT INTO Members (MemberID, FullName, ProfileImageURL, Programme, Branch, BatchYear, Email, ContactNumber, Age, Gender) VALUES (28498461, 'Arjun Gupta', 'https://robohash.org/28498461.png?set=set4', 'M.Tech.', 'Artificial Intelligence', 2029, 'arjun.gupta@iitgn.ac.in', '6691635952', 27, 'M');
INSERT INTO Members (MemberID, FullName, ProfileImageURL, Programme, Branch, BatchYear, Email, ContactNumber, Age, Gender) VALUES (28498462, 'Shaurya Singh', 'https://robohash.org/28498462.png?set=set4', 'B.Tech.-M.Tech. Dual Degree', 'Materials Engineering', 2031, 'shaurya.singh@iitgn.ac.in', '8866823487', 23, 'M');
INSERT INTO Members (MemberID, FullName, ProfileImageURL, Programme, Branch, BatchYear, Email, ContactNumber, Age, Gender) VALUES (28498463, 'Reyansh Agarwal', 'https://robohash.org/28498463.png?set=set4', 'B.Tech.', 'Integrated Circuit Design & Technology', 2027, 'reyansh.agarwal@iitgn.ac.in', '7170048076', 21, 'M');
INSERT INTO Members (MemberID, FullName, ProfileImageURL, Programme, Branch, BatchYear, Email, ContactNumber, Age, Gender) VALUES (28498464, 'Kiara Rao', 'https://robohash.org/28498464.png?set=set4', 'B.Tech.', 'Integrated Circuit Design & Technology', 2026, 'kiara.rao@iitgn.ac.in', '9896175005', 21, 'F');
INSERT INTO Members (MemberID, FullName, ProfileImageURL, Programme, Branch, BatchYear, Email, ContactNumber, Age, Gender) VALUES (28498465, 'Shaurya Gupta', 'https://robohash.org/28498465.png?set=set4', 'B.Tech.', 'Materials Engineering', 2028, 'shaurya.gupta@iitgn.ac.in', '6560622915', 18, 'M');
INSERT INTO Members (MemberID, FullName, ProfileImageURL, Programme, Branch, BatchYear, Email, ContactNumber, Age, Gender) VALUES (28498466, 'Reyansh Mishra', 'https://robohash.org/28498466.png?set=set4', 'B.Tech.', 'Computer Science and Engineering', 2028, 'reyansh.mishra@iitgn.ac.in', '7001045689', 23, 'M');
INSERT INTO Members (MemberID, FullName, ProfileImageURL, Programme, Branch, BatchYear, Email, ContactNumber, Age, Gender) VALUES (28498467, 'Anaya Shah', 'https://robohash.org/28498467.png?set=set4', 'B.Tech.', 'Artificial Intelligence', 2028, 'anaya.shah@iitgn.ac.in', '8845782775', 22, 'F');

In [ ]:
schema = """
CREATE TABLE IF NOT EXISTS Members (
    MemberID INT PRIMARY KEY,
    FullName VARCHAR(100) NOT NULL,
    ProfileImageURL VARCHAR(255) DEFAULT 'default_avatar.png',
    -- Points to a default image initially
    Programme VARCHAR(50) NOT NULL,
    Branch VARCHAR(50),
    BatchYear YEAR NOT NULL,            
    Email VARCHAR(100) NOT NULL UNIQUE,
    ContactNumber VARCHAR(15) NOT NULL UNIQUE,
    Age INT NULL,                      
    Gender CHAR(1) NULL                
);
"""

In [ ]:
def save_sql(sql):
    with open("members_dml.sql", "w", encoding="utf-8") as f:
        # Optional: Add transaction headers for safety and speed
        f.write("BEGIN TRANSACTION;\n\n")
        f.write(schema + "\n")
        # Write each SQL statement on a new line
        for statement in sql_queries:
            f.write(statement + "\n")
        
        f.write("\nCOMMIT;")

    print("Successfully generated members_dml.sql")

Successfully generated members_dml.sql

In [72]:
import pandas as pd

members_df = pd.DataFrame(generated_members)
members_df.to_csv("Members.csv",index=False)

In [76]:
members_df = pd.read_csv("Members.csv")

member_ids = members_df["MemberID"].values

In [78]:
memberStatsJson = []

for member_id in member_ids:
    totalRidesHosted = random.randint(0,100)
    totalRidesTaken = totalRidesHosted + random.randint(0,100)

    if totalRidesTaken>0:
        average_rating = round(random.uniform(0, 5), 2)
    else:
        average_rating = 0.00
    
    memberStatsJson.append({
        "MemberID": member_id,
        "AverageRating": average_rating,
        "TotalRidesTaken": totalRidesTaken,
        "TotalRidesHosted": totalRidesHosted
    })

In [83]:
import pandas as pd

members_stats_df = pd.DataFrame(memberStatsJson)
members_stats_df.to_csv("MembersStats.csv",index=False)

In [84]:
members_stats_df.head()

   MemberID  AverageRating  TotalRidesTaken  TotalRidesHosted
0  28498438           0.11               28                24
1  28498439           4.00               63                41
2  28498440           1.92              132                46
3  28498441           0.53               23                 9
4  28498442           0.84              136                64

In [85]:
json_to_sql("MemberStats", memberStatsJson)

['INSERT INTO MemberStats (MemberID, AverageRating, TotalRidesTaken, TotalRidesHosted) VALUES (28498438, 0.11, 28, 24);',
 'INSERT INTO MemberStats (MemberID, AverageRating, TotalRidesTaken, TotalRidesHosted) VALUES (28498439, 4.0, 63, 41);',
 'INSERT INTO MemberStats (MemberID, AverageRating, TotalRidesTaken, TotalRidesHosted) VALUES (28498440, 1.92, 132, 46);',
 'INSERT INTO MemberStats (MemberID, AverageRating, TotalRidesTaken, TotalRidesHosted) VALUES (28498441, 0.53, 23, 9);',
 'INSERT INTO MemberStats (MemberID, AverageRating, TotalRidesTaken, TotalRidesHosted) VALUES (28498442, 0.84, 136, 64);',
 'INSERT INTO MemberStats (MemberID, AverageRating, TotalRidesTaken, TotalRidesHosted) VALUES (28498443, 0.17, 153, 70);',
 'INSERT INTO MemberStats (MemberID, AverageRating, TotalRidesTaken, TotalRidesHosted) VALUES (28498444, 0.09, 33, 29);',
 'INSERT INTO MemberStats (MemberID, AverageRating, TotalRidesTaken, TotalRidesHosted) VALUES (28498445, 0.22, 99, 32);',
 'INSERT INTO MemberStats (MemberID, AverageRating, TotalRidesTaken, TotalRidesHosted) VALUES (28498446, 1.3, 64, 43);',
 'INSERT INTO MemberStats (MemberID, AverageRating, TotalRidesTaken, TotalRidesHosted) VALUES (28498447, 3.33, 123, 42);',
 'INSERT INTO MemberStats (MemberID, AverageRating, TotalRidesTaken, TotalRidesHosted) VALUES (28498448, 4.09, 123, 99);',
 'INSERT INTO MemberStats (MemberID, AverageRating, TotalRidesTaken, TotalRidesHosted) VALUES (28498449, 0.56, 155, 85);',
 'INSERT INTO MemberStats (MemberID, AverageRating, TotalRidesTaken, TotalRidesHosted) VALUES (28498450, 0.44, 151, 67);',
 'INSERT INTO MemberStats (MemberID, AverageRating, TotalRidesTaken, TotalRidesHosted) VALUES (28498451, 3.3, 99, 78);',
 'INSERT INTO MemberStats (MemberID, AverageRating, TotalRidesTaken, TotalRidesHosted) VALUES (28498452, 2.51, 76, 21);',
 'INSERT INTO MemberStats (MemberID, AverageRating, TotalRidesTaken, TotalRidesHosted) VALUES (28498453, 3.51, 72, 35);',
 'INSERT INTO MemberStats (MemberID, AverageRating, TotalRidesTaken, TotalRidesHosted) VALUES (28498454, 1.21, 170, 85);',
 'INSERT INTO MemberStats (MemberID, AverageRating, TotalRidesTaken, TotalRidesHosted) VALUES (28498455, 1.55, 112, 81);',
 'INSERT INTO MemberStats (MemberID, AverageRating, TotalRidesTaken, TotalRidesHosted) VALUES (28498456, 2.43, 64, 53);',
 'INSERT INTO MemberStats (MemberID, AverageRating, TotalRidesTaken, TotalRidesHosted) VALUES (28498457, 3.87, 171, 72);',
 'INSERT INTO MemberStats (MemberID, AverageRating, TotalRidesTaken, TotalRidesHosted) VALUES (28498458, 0.58, 70, 27);',
 'INSERT INTO MemberStats (MemberID, AverageRating, TotalRidesTaken, TotalRidesHosted) VALUES (28498459, 1.65, 57, 37);',
 'INSERT INTO MemberStats (MemberID, AverageRating, TotalRidesTaken, TotalRidesHosted) VALUES (28498460, 2.41, 123, 70);',
 'INSERT INTO MemberStats (MemberID, AverageRating, TotalRidesTaken, TotalRidesHosted) VALUES (28498461, 4.39, 151, 100);',
 'INSERT INTO MemberStats (MemberID, AverageRating, TotalRidesTaken, TotalRidesHosted) VALUES (28498462, 0.29, 106, 39);',
 'INSERT INTO MemberStats (MemberID, AverageRating, TotalRidesTaken, TotalRidesHosted) VALUES (28498463, 1.4, 169, 79);',
 'INSERT INTO MemberStats (MemberID, AverageRating, TotalRidesTaken, TotalRidesHosted) VALUES (28498464, 3.61, 86, 76);',
 'INSERT INTO MemberStats (MemberID, AverageRating, TotalRidesTaken, TotalRidesHosted) VALUES (28498465, 0.69, 109, 94);',
 'INSERT INTO MemberStats (MemberID, AverageRating, TotalRidesTaken, TotalRidesHosted) VALUES (28498466, 1.93, 44, 14);',
 'INSERT INTO MemberStats (MemberID, AverageRating, TotalRidesTaken, TotalRidesHosted) VALUES (28498467, 3.07, 104, 23);']