In [41]:
import random

def generate_unique_name(indian_names, indian_surnames, full_names):
    while True:
        first = random.choice(indian_names)
        last = random.choice(indian_surnames)
        full_name = f"{first} {last}"

        if full_name not in full_names:
            full_names.add(full_name)   # assuming set
            return full_name

def generate_indian_mobile(mobile_numbers):
    while True:
        # Indian mobiles start with 6, 7, 8, or 9
        first_digit = random.choice(['6', '7', '8', '9'])
        remaining_digits = ''.join([str(random.randint(0, 9)) for _ in range(9)])
        mobile_no = f"{first_digit}{remaining_digits}"

        if mobile_no not in mobile_numbers:
            mobile_numbers.add(mobile_no)
            return mobile_no

In [ ]:
import random

# Top 20 Indian Names (10 Male, 10 Female)
indian_names = [
    "Aarav", "Vihaan", "Reyansh", "Advik", "Kiaan", 
    "Shaurya", "Ishaan", "Arjun", "Riaan", "Ayaan", 
    "Saanvi", "Aadhya", "Anaya", "Kiara", "Myra", 
    "Navya", "Inaaya", "Shanaya", "Vamika", "Diya"
]


# Top 20 Indian Surnames
indian_surnames = [
    "Singh", "Kumar", "Sharma", "Patel", "Gupta", 
    "Agarwal", "Yadav", "Verma", "Khan", "Mishra", 
    "Shah", "Reddy", "Jain", "Nair", "Das", 
    "Chaudhary", "Patil", "Mehta", "Rao", "Iyer"
]

iitgn_programmes = ["B.Tech.", "M.Tech.", "B.Tech.-M.Tech. Dual Degree", "PhD"]

iitgn_btech_branches = [
    "Electrical Engineering",
    "Computer Science and Engineering",
    "Mechanical Engineering",
    "Artificial Intelligence",
    "Chemical Engineering",
    "Civil Engineering",
    "Integrated Circuit Design & Technology",
    "Materials Engineering"
]

iitgn_mtech_branches = [
    "Artificial Intelligence",
    "Biological Engineering",
    "Chemical Engineering",
    "Civil Engineering",
    "Computer Science and Engineering",
    "Earth System Science",
    "Electrical Engineering",
    "Integrated Circuit Design and Technology",
    "Materials Engineering",
    "Mechanical Engineering"
]

iitgn_phd_branches = [
    "Biological Engineering", 
    "Chemical Engineering", 
    "Chemistry", 
    "Civil Engineering", 
    "Cognitive Science", 
    "Computer Science and Engineering", 
    "Artificial Intelligence", 
    "Earth Sciences", 
    "Archaeological Sciences", 
    "Electrical Engineering", 
    "Integrated Circuit Design and Technology", 
    "Humanities & Social Sciences", 
    "Materials Engineering", 
    "Mathematics", 
    "Mechanical Engineering", 
    "Design", 
    "Physics"
]

generated_members = []

# Generate random start
start_id = random.randint(10000000, 99999999)

full_names = set()
mobile_nos = set()

# Member Table
for i in range(30):
    # Randomly pick a name and a surname
    full_name = generate_unique_name(indian_names, indian_surnames, full_names)
    
    # Auto-increment MemberID
    member_id = start_id + i

    url = f"https://robohash.org/{member_id}.png?set=set4"

    first_name = full_name.split(" ")[0]
    
    gender = "M" if first_name in indian_names[:10] else "F"
    
    email_id = (".".join(full_name.split(" ")) + "@iitgn.ac.in").lower()

    programme = random.choice(iitgn_programmes)

        
    if programme == iitgn_programmes[1]:
        branch = random.choice(iitgn_mtech_branches)
        age = random.randint(22,27)
    elif programme == iitgn_programmes[3]:
        branch = random.choice(iitgn_phd_branches)
        age = random.randint(23, 35)
    else:
        branch = random.choice(iitgn_btech_branches)
        age = random.randint(18,23)

    batch_year = random.randint(2026,2031)
    
    ContactNumber = generate_indian_mobile(mobile_nos)
    

    generated_members.append({
        "MemberID": member_id,
        "FullName": full_name,
        "ProfileImageURL": url,
        "Programme": programme,
        "Branch": branch,
        "BatchYear": batch_year,
        "Email": email_id,
        "ContactNumber": ContactNumber,
        "Age": age,
        "Gender": gender
    })

# Preview the first 5
for member in generated_members[:5]:
    print(member)

{'MemberID': 28498438, 'FullName': 'Myra Khan', 'ProfileImageURL': 'https://robohash.org/28498438.png?set=set4', 'Programme': 'M.Tech.', 'Branch': 'Computer Science and Engineering', 'BatchYear': 2029, 'Email': 'myra.khan@iitgn.ac.in', 'ContactNumber': '6371872528', 'Age': 22, 'Gender': 'F'}
{'MemberID': 28498439, 'FullName': 'Anaya Mehta', 'ProfileImageURL': 'https://robohash.org/28498439.png?set=set4', 'Programme': 'M.Tech.', 'Branch': 'Integrated Circuit Design and Technology', 'BatchYear': 2029, 'Email': 'anaya.mehta@iitgn.ac.in', 'ContactNumber': '6157043256', 'Age': 24, 'Gender': 'F'}
{'MemberID': 28498440, 'FullName': 'Ayaan Nair', 'ProfileImageURL': 'https://robohash.org/28498440.png?set=set4', 'Programme': 'PhD', 'Branch': 'Artificial Intelligence', 'BatchYear': 2026, 'Email': 'ayaan.nair@iitgn.ac.in', 'ContactNumber': '9965758745', 'Age': 29, 'Gender': 'M'}
{'MemberID': 28498441, 'FullName': 'Kiara Singh', 'ProfileImageURL': 'https://robohash.org/28498441.png?set=set4', 'Programme': 'B.Tech.-M.Tech. Dual Degree', 'Branch': 'Artificial Intelligence', 'BatchYear': 2028, 'Email': 'kiara.singh@iitgn.ac.in', 'ContactNumber': '9146086242', 'Age': 22, 'Gender': 'F'}
{'MemberID': 28498442, 'FullName': 'Arjun Mishra', 'ProfileImageURL': 'https://robohash.org/28498442.png?set=set4', 'Programme': 'B.Tech.', 'Branch': 'Computer Science and Engineering', 'BatchYear': 2029, 'Email': 'arjun.mishra@iitgn.ac.in', 'ContactNumber': '9036360323', 'Age': 23, 'Gender': 'M'}

In [ ]:
from faker import Faker
import random

fake = Faker()

def generate_chat(num_messages=5):
    users = [fake.name(), fake.name()]
    chat_log = []
    
    for _ in range(num_messages):
        message = {
            "sender": random.choice(users),
            "timestamp": fake.date_time_between(start_date="-1h", end_date="now").strftime("%H:%M:%S"),
            # Use .sentence() for short messages or .text() for longer ones
            "text": fake.sentence(nb_words=random.randint(5, 15))
        }
        chat_log.append(message)
    
    # Sort by timestamp to make the conversation chronological 
    return sorted(chat_log, key=lambda x: x['timestamp'])

# Display the chat
for msg in generate_chat(10):
    print(f"[{msg['timestamp']}] {msg['sender']}: {msg['text']}")

[11:42:31] Angela Gould: Life their practice present mission growth police toward next until direction paper.
[11:44:59] John Lester: Fire decade wife already former pressure serve end direction matter.
[11:51:26] Angela Gould: Tax war nearly wonder argue third season source information.
[11:54:25] Angela Gould: After threat probably number late really.
[11:54:42] Angela Gould: Second laugh month suffer wind offer hour west opportunity situation.
[11:55:36] Angela Gould: Young animal building enter prevent beyond then.
[11:56:47] John Lester: President dog receive know than small.
[11:57:55] Angela Gould: Manage skin truth politics standard red really factor section change.
[12:04:57] John Lester: Foot year wrong fine other staff imagine city moment off.
[12:25:42] John Lester: Suddenly create former customer front without drug top itself none fund or read key late outside ok rock.

In [ ]:
import json

# Sample JSON-like data (list of dicts)

def json_to_sql(table_name, json_data):
    statements = []
    for entry in json_data:
        columns = ", ".join(entry.keys())
        
        # Format values: Add quotes to strings, handle None as NULL
        values = []
        for v in entry.values():
            if v is None:
                values.append("NULL")
            elif isinstance(v, str):
                # .replace("'", "''") escapes single quotes for SQL safety
                values.append(f"'{v.replace("'", "''")}'")
            else:
                values.append(str(v))
        
        value_str = ", ".join(values)
        statements.append(f"INSERT INTO {table_name} ({columns}) VALUES ({value_str});")
    
    return statements

# Usage
# sql_queries = json_to_sql("Members", generated_members)
# for query in sql_queries:
#     print(query)

In [ ]:
schema = """
CREATE TABLE IF NOT EXISTS Members (
    MemberID INT PRIMARY KEY,
    FullName VARCHAR(100) NOT NULL,
    ProfileImageURL VARCHAR(255) DEFAULT 'default_avatar.png',
    -- Points to a default image initially
    Programme VARCHAR(50) NOT NULL,
    Branch VARCHAR(50),
    BatchYear YEAR NOT NULL,            
    Email VARCHAR(100) NOT NULL UNIQUE,
    ContactNumber VARCHAR(15) NOT NULL UNIQUE,
    Age INT NULL,                      
    Gender CHAR(1) NULL                
);
"""

In [ ]:
def save_sql(sql):
    with open("members_dml.sql", "w", encoding="utf-8") as f:
        # Optional: Add transaction headers for safety and speed
        f.write("BEGIN TRANSACTION;\n\n")
        f.write(schema + "\n")
        # Write each SQL statement on a new line
        for statement in sql_queries:
            f.write(statement + "\n")
        
        f.write("\nCOMMIT;")

    print("Successfully generated members_dml.sql")

Successfully generated members_dml.sql

In [46]:
import random
from datetime import datetime

COMMENTS = [
    "Great ride, very smooth!",
    "Nice experience overall.",
    "Driver was punctual and polite.",
    "Comfortable ride, would recommend.",
    "Good communication and coordination.",
    "Pleasant trip, no issues.",
    "Ride was fine, nothing to complain about.",
    "Friendly and cooperative member.",
    "Enjoyed the ride, thank you!",
    "Clean car and comfortable journey."
]

def generate_ratings(rides, members):
    results = []
    
    for ride in rides:
        sampled_members = random.sample(list(members), 3)
        
        for receiver in sampled_members:
            sender_candidates = [m for m in members if m != receiver]
            sender = random.choice(sender_candidates)

            entry = {
                "RideID": ride,
                "SenderMemberID": sender,
                "ReceiverMemberID": receiver,
                "Rating": round(random.uniform(3.0, 5.0), 1),
                "RatingComment": random.choice(COMMENTS),
                "RatedAt": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
            }
            results.append(entry)
    
    return results

ratings_json =  generate_ratings(rides, member_ids)

In [72]:
import pandas as pd

members_df = pd.DataFrame(generated_members)
members_df.to_csv("Members.csv",index=False)

In [1]:
import pandas as pd
members_df = pd.read_csv("Members.csv")

member_ids = members_df["MemberID"].values

In [19]:
import random
memberStatsJson = []

for member_id in member_ids:
    totalRidesHosted = random.randint(0,100)
    totalRidesTaken = totalRidesHosted + random.randint(0,100)

    if totalRidesTaken>0:
        average_rating = round(random.uniform(1, 5), 2)
    else:
        average_rating = None
    
    NumberOfRatings = totalRidesTaken*2
    memberStatsJson.append({
        "MemberID": member_id,
        "AverageRating": average_rating,
        "TotalRidesTaken": totalRidesTaken,
        "TotalRidesHosted": totalRidesHosted,
        "NumberOfRatings": NumberOfRatings
    })

In [20]:
import pandas as pd

members_stats_df = pd.DataFrame(memberStatsJson)
members_stats_df.to_csv("MembersStats.csv",index=False)

In [21]:
members_stats_df.head()

   MemberID  AverageRating  TotalRidesTaken  TotalRidesHosted  NumberOfRatings
0  28498438           3.43               99                 1              198
1  28498439           4.67               73                54              146
2  28498440           3.06               76                 1              152
3  28498441           3.24              100                99              200
4  28498442           2.00              104                64              208

In [47]:
generated_stats = json_to_sql("MemberRatings", ratings_json)

In [22]:
generated_stats = json_to_sql("MemberStats", memberStatsJson)

In [48]:
with open("membersRatings_dml.sql", "w", encoding="utf-8") as f:
        # Optional: Add transaction headers for safety and speed
        f.write("BEGIN TRANSACTION;\n\n")
        # Write each SQL statement on a new line
        for statement in generated_stats:
            f.write(statement + "\n")
        
        f.write("\nCOMMIT;")

In [27]:
VehicleMap = {'Bike': 1,
    'Auto Rickshaw': 3,
    'Mini Cab': 4,
    'Sedan Cab': 4,
    'SUV Cab': 6,
    'Premium SUV': 7}

In [34]:
import uuid
import random
import pandas as pd
from datetime import datetime, timedelta

members_df = pd.read_csv("Members.csv")
MEMBER_IDS = members_df['MemberID'].tolist()

IITGN = "IIT Gandhinagar (Palaj)"
LOCATIONS = ["Gift City", "Infocity", "Kudasan", "SVPI Airport", "Ahmedabad Railway Station", "SG Highway"]
PLATFORMS = ["Uber", "Ola", "InDrive", "Private"]

def generate_uuid():
    return str(uuid.uuid4())

def generate_synthetic_data(num_active=20, num_history=40):
    now = datetime.now()
    
    # --- Table 3: ActiveRides ---
    active_rides = []
    for _ in range(num_active):
        other_loc = random.choice(LOCATIONS)
        vehicle = random.choice(list(VehicleMap.keys()))
        max = VehicleMap[vehicle]
        pa = random.randint(1, max)
        active_rides.append({
            "RideID": generate_uuid(),
            "AdminID": random.choice(MEMBER_IDS),
            "AvailableSeats": max-pa,
            "PassengerCount": pa,
            "Source": random.choice([IITGN, other_loc]),
            "Destination": other_loc if random.choice([True, False]) else IITGN,
            "VehicleType": vehicle,
            "StartTime": (now + timedelta(hours=random.randint(2, 48))).strftime('%Y-%m-%d %H:%M:%S'),
            "EstimatedTime": random.randint(30, 90),
            "FemaleOnly": random.choice([True, False, False,False])
        })
    df_active = pd.DataFrame(active_rides)

    # --- Table 4: RidePassengerMap ---
    passenger_map = []
    for _, ride in df_active.iterrows():
        # Add 1-3 passengers to some rides
        if random.random() > 0.3:
            potential = [m for m in MEMBER_IDS if m != ride['AdminID']]
            selected = random.sample(potential, random.randint(1, 2))
            for p_id in selected:
                passenger_map.append({
                    "RideID": ride['RideID'],
                    "PassengerID": p_id,
                    "IsConfirmed": random.choice([True, False])
                })
    df_map = pd.DataFrame(passenger_map)

    # --- Table 10: RideHistory ---
    history = []
    for _ in range(num_history):
        other_loc = random.choice(LOCATIONS)
        history.append({
            "RideID": generate_uuid(), # Unique UUID for History record
            "AdminID": random.choice(MEMBER_IDS),
            "RideDate": (now - timedelta(days=random.randint(1, 20))).strftime('%Y-%m-%d'),
            "StartTime": f"{random.randint(6, 22):02d}:{random.choice(['00', '15', '30']):s}:00",
            "Source": random.choice([IITGN, other_loc]),
            "Destination": other_loc if random.choice([True, False]) else IITGN,
            "Platform": random.choice(PLATFORMS),
            "Price": random.randint(100, 600),
            "FemaleOnly": random.choice([True, False, False,False])
        })
    df_history = pd.DataFrame(history)

    # --- Table 8: RideFeedback (Linked to History UUIDs) ---
    feedback = []
    feedback_samples = df_history.sample(frac=0.5)
    for _, ride in feedback_samples.iterrows():
        feedback.append({
            "RideID": ride['RideID'], # Must exist in History
            "MemberID": random.choice(MEMBER_IDS),
            "FeedbackText": random.choice(["Smooth ride", "Driver was late", "Friendly co-passengers","Nice Car","AC not working","bad copassenger","Very great experience","Nice","Need to improve chat UI","Will recommned to friends","Awesome experience"]),
            "FeedbackCategory": random.choice(["Punctuality", "Safety", "Comfort"]),
            "SubmittedAt": datetime.now().strftime('%Y-%m-%d %H:%M:%S')
        })
    df_feedback = pd.DataFrame(feedback)

    # --- Table 11: Cancellation (Linked to Active UUIDs) ---
    cancellations = []
    cancel_samples = df_active.sample(n=min(5, len(df_active)))
    for _, ride in cancel_samples.iterrows():
        cancellations.append({
            "RideID": ride['RideID'], # Must exist in ActiveRides
            "MemberID": random.choice(MEMBER_IDS),
            "CancellationReason": random.choice(["Plan Changed","Other private reasons","Bad co passengers"])
        })
    df_cancel = pd.DataFrame(cancellations)

    return df_active, df_map, df_history, df_feedback, df_cancel

# --- SQL Export Utility ---
def dataframe_to_sql(df, table_name):
    statements = []
    for _, row in df.iterrows():
        cols = ", ".join(row.index)
        vals = []
        for v in row.values:
            if isinstance(v, str): vals.append(f"'{v.replace("'", "''")}'")
            elif isinstance(v, bool): vals.append("TRUE" if v else "FALSE")
            else: vals.append(str(v))
        statements.append(f"INSERT INTO {table_name} ({cols}) VALUES ({', '.join(vals)});")
    return "\n".join(statements)

# Execution
df_active, df_map, df_history, df_feedback, df_cancel = generate_synthetic_data()
# print(df_active.head().to_markdown())

with open("seed_data_uuid.sql", "w") as f:
    f.write("-- Active Rides\n" + dataframe_to_sql(df_active, "ActiveRides") + "\n\n")
    f.write("-- Passenger Mapping\n" + dataframe_to_sql(df_map, "RidePassengerMap") + "\n\n")
    f.write("-- History\n" + dataframe_to_sql(df_history, "RideHistory") + "\n\n")
    f.write("-- Feedback\n" + dataframe_to_sql(df_feedback, "RideFeedback") + "\n\n")
    f.write("-- Cancellations\n" + dataframe_to_sql(df_cancel, "Cancellation") + "\n")

print("File 'seed_data.sql' created with UUID primary keys.")

File 'seed_data.sql' created with UUID primary keys.